.default-container {
  display: flex;
  flex-direction: column;
}

.question-text {
  color: #164687;
  /* width: 255px; */
  height: 30px;
  top: 168px;
  margin-left: 75px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.horizontal-line {
  width: 800px;
  height: 1px;
  top: 222px;
  left: 81px;
  border: 1px solid #9797973f;
  background: #9797973f;
}

.option-container {
  width: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-left: 75px;
  margin-top: 15px;
}

.normal {
  width: 70%;
  width: 300px;
  height: 64px;
  top: 247px;
  left: 80px;
  border-radius: 8px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  padding-left: 10px;
  background-color: #ebf3ff;
  color: #334155;
  border: none;
}

.selected {
  width: 100%;
  width: 380px;
  height: 64px;
  top: 247px;
  left: 80px;
  border-radius: 8px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 10px;
  background-color: #5b6f94;
  color: #f8fafc;
  border: none;
}

.nxt-button {
  width: 130px;
  height: 36px;
  background-color: #164687;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  bottom: 0;
}
.btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .default-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; /* Center items horizontally */
    justify-content: space-between;
    width: 100vw;
  }

  .option-container {
    width: 80vw; /* Adjusted width for options */
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 15px;
  }
  .btn {
    margin-left: 350px;
    margin-bottom: 10px;
  }

  .nxt-button {
    justify-content: flex-end;
    width: 130px;
    height: 36px;
    background-color: #164687;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-top: 1000px; /* Space between options and button */
  }
}
