.assessment-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 95vw;
}

.question-container {
  width: 70vw;
  height: 680px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #dae4fa80;
  padding: 15px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 0px;
}

.summary-timer-container {
  height: 777px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.summary-card {
  width: 416px;
  height: 80%;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 0px #dae4fa80;
  padding: 15px;
}

.timer-container {
  width: 416px;
  height: 53px;
  top: 120px;
  left: 992px;
  border-radius: 2px;
  background-color: #475987;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.time-heading {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #f8fafc;
}

.timer {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #f8fafc;
  padding-bottom: 10px;
}

.loader-container {
  width: 1440px;
  height: 1024px;
  top: -1712px;
  left: 10393px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-container {
  width: 1440px;
  height: 1024px;
  top: -1712px;
  left: 12058px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  width: 677px;
  height: 364px;
  top: 211px;
  left: 382px;
}

.something-went-wrong {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #334155;
}

.some-trouble {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #64748b;
}

.retry-btn {
  width: 93px;
  height: 40px;
  top: 739px;
  left: 674px;
  padding: 8px, 32px, 8px, 32px;
  border-radius: 4px;
  background-color: #164687;
  color: #ffffff;
  font-family: 'HK Grotesk';
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .assessment-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .question-container {
    width: 100vw;
    height: 20vh;
  }
  .summary-timer-container {
    width: 10vw;
  }
}
